body, html {
  background-color: #001e26;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-family: 'Space Mono', monospace;
  height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

button {
  background-color: #00F29B;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0);
}

.modal {
  border: solid 0.08em #fff;
  -webkit-box-shadow: -15px 20px 20px rgba(0, 0, 0, 0.75);
          box-shadow: -15px 20px 20px rgba(0, 0, 0, 0.75);
}

.modal-content {
  background: #001e26;
}

.modal-content h4 {
  margin: 0;
}

.modal-content #hint {
  margin-top: 0.5rem;
}

.modal .modal-content {
  padding: 2rem 0 0 0 !important;
}

.modal-content input {
  color: white;
  font-size: 24px;
  width: 50%;
  text-align: center;
}

.modal-content label {
  font-size: 16px;
}

.btn:focus {
  background-color: #002B36;
}

#gameOver .yourScore {
  margin: 1rem 0;
  margin-bottom: 2rem;
}

#gameOver button {
  width: 100%;
  margin-top: 1rem;
  background-color: #00F29B;
  color: black;
  margin: 0;
}

.yourScore {
  padding-bottom: 0px;
}

.highScores {
  position: absolute;
  bottom: 35px;
  right: 0px;
  line-height: 10px;
  font-size: 14px;
}

.next {
  height: 20vh;
  border: solid 2px #fff;
}

.controls {
  position: absolute;
  bottom: 50px;
  left: 0px;
  font-size: 12px;
  line-height: 8px;
}

.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 0px;
}

.level {
  text-decoration: none;
}

.footer a:link, a:visited, a:active {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}

.footer a:link:hover {
  color: white;
  text-decoration: none;
}

#newGameBtn {
  border-radius: 0;
  width: 100% !important;
  margin-top: 2rem;
  color: black;
  background-color: #00F29B;
}

#pause .modal-content {
  padding: 2rem !important;
}

#pause .modal-content p {
  margin-top: 1rem;
  line-height: 150%;
}

.modal {
  margin: 0 !important;
  width: 30% !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
}

.modal-overlay {
  opacity: 0.8 !important;
}

.ui {
  max-width: 1200px;
  height: 92vh !important;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem;
}

.ui .detailsLeft {
  margin: 0;
  text-align: right;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.ui .detailsLeft p {
  font-size: 1.4rem;
  line-height: 150%;
}

.ui .tetris {
  height: 100%;
  border: solid 2px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ui .detailsRight {
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
}

.ui .detailsRight p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=style.css.map */